*,
*:before,
*:after {
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

html, body {
    height: 100%;
}

body {
	color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	cursor: default;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 1.1em;
	font-weight: 700;
}

a:link, a:visited {
	color: #fff;
	opacity: .5;
	text-decoration: none;
	padding-bottom: 1px;
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	transition: 0.5s;
}

a:hover, a:active {
	opacity: 1;
}

.row {
	padding: 0;
	margin: 0;
}

.back-img {
	position: relative;
	width: 100%;
	height: 100vh;
}

.img-slider {
	position: absolute;
	width: 100%;
	z-index: 100;
}

.img-fondo {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.presenta {
	position: absolute;
	z-index: 200;
	width: 100%;
}

.logo {
	display: block;
	width: 400px;
	margin: 0 auto;
	margin-top: 28rem;
}

.logo img {
	max-width: 400px;
	transition: .5s;
	-webkit-transition: .5s;
}

.name {
	text-align: center;
	margin-top: 2rem;
}

.name p {
	margin-top: 200px;
	font-weight: 400;
	font-size: .7em;
}


/* ANIMATION LOGO */

.presenta {
	animation: derecha 1.5s;
	-webkit-animation: derecha 1.5s;
	-moz-animation: derecha 1.5s;
	-o-animation: derecha 1.5s;
}

@keyframes derecha {
	0% {
		opacity: 0;
		transform: translate(-3rem, 0);
		-webkit-transform: translate(-3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-webkit-keyframes derecha {
	0% {
		opacity: 0;
		transform: translate(-3rem, 0);
		-webkit-transform: translate(-3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-moz-keyframes derecha {
	0% {
		opacity: 0;
		transform: translate(-3rem, 0);
		-webkit-transform: translate(-3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-o-keyframes derecha {
	0% {
		opacity: 0;
		transform: translate(-3rem, 0);
		-webkit-transform: translate(-3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}



/* WORK STYLE */

#work {
	overflow: auto;
	clear: both;
}

#work .row {
	margin: 0;
	padding: 0;
}

#work .header {
	width: 100%;
	height: 120px;
	position: fixed;
	display: block;
}

#work .content {
	margin-top: 10%;
}

#work nav {
	display: block;
	left: 50px;
	margin-top: -4px;
	position: fixed;
	text-align: left;
	width: 200px;
}

.nav-ppal {
	line-height: 2;
	font-size: 2em;
	font-weight: 400;
}

#work a {
	color: #555;
} 

#work .photos {
	display: block;
text-align: left;
margin-bottom: -50px;
margin-left: 250px;
margin-right: 0px;
position: relative;
}

.photo-back {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	float: left;
	width: 31%;
	padding-bottom: 30%;
	margin-right: 2rem;
	margin-bottom: 2rem;
	opacity: .5;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
}

.photo-back::after {
	content: '';
	display: block;
	width: 100%;
	padding-top: 100%;
}

.photo-back:hover {
	opacity: 1;
}

#work .photos .row .photo-back:last-child {
	margin-right:0 !important;
}

#work .logo {
	position: relative;
	margin: 3.5rem;
	max-width: 200px;
}

/* ANIMATION LOGO WORK */

#work .logo  {
	animation: abajo 1.5s;
	-webkit-animation: abajo 1.5s;
	-moz-animation: abajo 1.5s;
	-o-animation: abajo 1.5s;
}

@keyframes abajo {
	0% {
		opacity: 0;
		transform: translate(0, -3rem);
		-webkit-transform: translate(0, -3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-webkit-keyframes abajo {
	0% {
		opacity: 0;
		transform: translate(0, -3rem);
		-webkit-transform: translate(0, -3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-moz-keyframes abajo {
	0% {
		opacity: 0;
		transform: translate(0, -3rem);
		-webkit-transform: translate(0, -3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-o-keyframes abajo {
	0% {
		opacity: 0;
		transform: translate(0, -3rem);
		-webkit-transform: translate(0, -3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

/* ANIMATION NAV WORK */

#work nav  {
	animation: derecha 1.5s;
	-webkit-animation: derecha 1.5s;
	-moz-animation: derecha 1.5s;
	-o-animation: derecha 1.5s;
}

/* ANIMATION PHOTOS WORK */

#work .photos  {
	animation: izquierda 1.5s;
	-webkit-animation: izquierda 1.5s;
	-moz-animation: izquierda 1.5s;
	-o-animation: izquierda 1.5s;
}

@keyframes izquierda {
	0% {
		opacity: 0;
		transform: translate(3rem, 0);
		-webkit-transform: translate(3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-webkit-keyframes izquierda {
	0% {
		opacity: 0;
		transform: translate(3rem, 0);
		-webkit-transform: translate(3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-moz-keyframes izquierda {
	0% {
		opacity: 0;
		transform: translate(3rem, 0);
		-webkit-transform: translate(3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}

@-o-keyframes izquierda {
	0% {
		opacity: 0;
		transform: translate(3rem, 0);
		-webkit-transform: translate(3rem, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
}